{% extends "layouts/base_site.twig" %}

{% block title %}Hcode Store{% endblock %}

{% block content_site %}

<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="bxslider-home4" id="">
            <li>
                <img src="{{ base_url() }}/images/h4-slide.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        iPhone <span class="primary">6 <strong>Plus</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Dual SIM</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Comprar</a>
                </div>
            </li>
            <li><img src="{{ base_url() }}/images/h4-slide2.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        by one, get one <span class="primary">50% <strong>off</strong></span>
                    </h2>
                    <h4 class="caption subtitle">school supplies & backpacks.*</h4>
                    <div class="icon-text">
                        <a class="caption button-radius ml-6" href="#"><span class="fa fa-cube"></span>Comprar</a>
                    </div>
                </div>
            </li>
            <li><img src="{{ base_url() }}/images/h4-slide3.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Apple <span class="primary">Store <strong>Ipod</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Select Item</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Comprar</a>
                </div>
            </li>
            <li><img src="{{ base_url() }}/images/h4-slide4.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Apple <span class="primary">Store <strong>Ipod</strong></span>
                    </h2>
                    <h4 class="caption subtitle">& Phone</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Comprar</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-money-check"></i>
                    <p>1 ano de garantia</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Frete grátis</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fas fa-lock"></i>
                    <p>Pagamento seguro</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fas fa-gift"></i>
                    <p>Novos produtos</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->

<section class="section">
{#<div class="maincontent-area">#}
    <div class="zigzag-bottom"></div>
    <div class="content">
            <div class="column">
                <div class="latest-product">
                    <div class="is-flex is-justify-content-center">
                        <h2 class="title is-size-2">Products</h2>
                    </div>
                    <div class="carousel" id="bulma-carousel">

                        {% for product in products %}
                        <div class="single-product item-1">
                            <div class="product-f-image is-fullwidth">
                                <figure class="image is-3by4">
                                    <img src="{{ base_url()}}/images/{{ product.desimage }}.png" alt="product">
                                </figure>
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>
                            <h2><a href="/hcode-slim-3/public/site/product_detail?id={{ product.idproduct }}">{{ product.desproduct }}</a></h2>
                            <div class="product-carousel-price">
                                <ins>{{ product.vlprice | format_currency('BRL') }}</ins>  {# ISO 4217 #}
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
    </div>
{#</div> <!-- End main content area -->#}
</section>

<section class="section">
    <div class="zigzag-bottom"></div>
    <div class="content">

            <div class="columns is-multiline">
                <div class="column is-one-quarter">
                    <img src="{{ base_url() }}/images/brand1.png" alt="">
                </div>
                <div class="column is-one-quarter">
                    <img src="{{ base_url() }}/images/brand3.png" alt="">
                </div>
                <div class="column is-one-quarter">
                    <img src="{{ base_url() }}/images/brand2.png" alt="">
                </div>
                <div class="column is-one-quarter">
                    <img src="{{ base_url() }}/images/brand4.png" alt="">
                </div>
                <div class="column is-one-quarter">
                    <img src="{{ base_url() }}/images/brand5.png" alt="">
                </div>
                <div class="column is-one-quarter">
                    <img src="{{ base_url() }}/images/brand6.png" alt="">
                </div>
                <div class="column is-one-quarter">
                    <img src="{{ base_url() }}/images/brand1.png" alt="">
                </div>
                <div class="column is-one-quarter">
                    <img src="{{ base_url() }}/images/brand2.png" alt="">
                </div>
            </div>
    </div>
</section> <!-- End brands area -->

{% endblock %}
